body {
    background-color: #f2f4f7;
    margin: 0;
    font-family: 'Spectral', serif;
}

p {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style-type: none;
}

/*Home Styling*/


#home {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

 #home img {
    width:  85%;
    margin: 1.5em 0em;
    margin-top: 3em;
}

#home p {
    font-size: 1.2em;
    margin-bottom: 3em;
}

/*Nav Styling*/

.navlist li {
   font-size: 1.5em;
   list-style: none;
   padding: 0.7em;
   margin-top: 0.3em;
   text-align: center;
   background: white;
}

header h2 {
    text-align: center;
}

#navWrap {
    max-width: 90%;
    margin: auto;
}


/*Portfolio Styling*/

.wrapper {
    max-width: 100%;
    margin: 0;
    background-color: white;
}

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery h3 {
    font-size: 1.4em;
}

#gallery img {
    max-width: 100%;
}

#gallery li {
    max-width: 90%;
    text-align: center;
    margin: auto;
    padding-top: 1em;
}

.wrapper h2 {
   text-align: center;
   padding-bottom: 1em;
   padding-top: 2em;
}

#gallery li:nth-last-child(1) {
   padding-bottom: 3em;
}

#gallery p {
    max-width: 88%;
    margin: auto;
    margin-bottom: 1em;
}

/*Contact Styling*/

#contact {
    text-align: center;
    max-width: 95%;
    margin: auto;
}

#contact h3 {
    font-size: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 0.7em;
}

#info {
    margin-top: 2em;
    margin-bottom: 4em;
}

.number, .email {
    margin-left: .5em;
}


/*Footer Styling*/


.left {
    float: left;
    margin-left: 1.5em;
}

.right {
    float: right;
    margin-right: 1.5em;
}

.navBottom {
    list-style-type: none;
    display: none;
}

/*Media Queries*/

@media (min-width: 768px) {

   /*Home/Nav List Styles*/

   #home {
        margin: 1em;
        margin-top: 2em;
        display: inline-block;
        max-width: 95%
    }

    #home img {
        max-width: 48%;
        float: right;
        margin: auto;
    }

    #home p {
        max-width: 48%;
        float: left;
        margin: auto;
        text-align: left;
}

    .navlist li {
        display: inline-block;
        background-color: #f2f4f7;
        padding: 0;
        margin: .7em;

    }

    .navlist {
        text-align: center;
    }


    /*Portfolio Styling*/


    #gallery li {
     display: inline-block;
     max-width: 40%;

    }

    #gallery img {
        max-width: 95%;
    }

    .wrapper {
        text-align: center;
    }



    /*Contact/Footer Styles*/

    #contact p {
        max-width: 75%;
        margin: auto;
    }

    .right {
        display: none;
    }

    .navBottom {
        display: block;
        width: 45%;
        float: right;
        margin: auto;
    }

    .navBottom ul {
        text-align: center;
    }

    .navBottom li {
        display: inline-block;
        margin-right: 1.3em;
        font-size: 1.2em
    }

    .footr {
        width: 45%;
        float: left;
        text-align: center;
    }




/*ClearFix*/

  .clearfix::after {
  content: "";
  display: table;
  clear: both;
}
}
